.container {
  min-height: 100vh;
  background-color: #424242;
  color: white;
}

.active-user {
  color: rgb(127, 227, 255);
  font-weight: 600;
  text-shadow: white 1px 0 10px;
}

.mat-column-name { 
  max-width: 60px !important;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'formula1', 'arial', sans-serif;
}

.mat-column-position { 
  font-size: 10px;
}

.mat-column-score { 
  font-size: 10px;
}

.image {
  background-image: url('../../assets/darklogo.jpg');
  background-repeat: no-repeat;
  background-size: 100px;
  min-height: 100px;
  padding: 30px;
  background-position: center;
  background-color: #424242;
}

.button-div {
  min-height: 36px;
  padding-bottom: 17px;
  justify-content: center;
  text-align: center;
  background-color: #424242;
}

.logout-button {
  color: #9c9c9c;
}