
<div class="container">
  <div class="image">
  </div>
  
  <button mat-raised-button color="secondary" class="button" (click)="logout()">
    <span class="button-label">Logout</span>
  </button>  
  
  <table mat-table [dataSource]="users" class="mat-elevation-z8 table">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user"> {{ user.position }} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <span [ngClass]="{'active-user': user.loggedIn}">
          {{user.abreviation}} 
        </span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user"> {{user.score}}pts </td>
    </ng-container>
  
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


