.snackbar-container {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* padding: 10px; */
  margin: 10px;
}

.snackbar-label {
  margin-left: 10px;
}

.success {
  color: rgb(0, 162, 255);
}

.error {
  color: rgb(255, 136, 0);
}

.cdk-overlay-pane { position: fixed !important; top: 50px; }


