<div class="container">

  <div *ngIf="activeUser.id === 'admin'">

    <div class="button-container">
      <button mat-raised-button color="primary" class="button" (click)="toggleEventSuspension()">
        <span class="button-label">
          {{ isSuspended ? 'Reactivate Event' : 'Suspend Event' }}
        </span>
      </button>
    </div>
  
    <div class="button-container">
      <button mat-raised-button color="primary" class="button" (click)="toggleMysteryEvent()">
        <span class="button-label">
          {{ areStuntsHidden ? 'Reveal Mystery Stunt' : 'Hide Mystery Stunt' }}
        </span>
      </button>
    </div>

  </div>

  <div class="title">
    Stunt History
  </div>

  <div *ngFor="let user of users;">
    <div class="username" *ngIf="user.performances!.length > 0">
      {{ user.firstName }}
    </div>

    <div *ngFor="let performStunt of user.performances; let i = index;">
      <div [ngClass]="{'odd-performance': (i % 2 !== 0) }">
        <div [ngClass]="performStunt.isDeleted ? 'deleted-performance' : 'performance'">
          
          <div class="performance-info">
            <div class="stunt-name data">
              {{ performStunt.stuntName }}
            </div>
            <div class="data">
              {{ performStunt.timestamp | date:'medium' }}
            </div>
            <div class="data">
              {{ performStunt.points + getPointStr(performStunt.points) }}
            </div>
            <div class="data">
              Witness: &nbsp;{{ getWitnessName(performStunt.witnessId) }}
            </div>
            <div class="data">
              {{ performStunt.description }}
            </div>
          </div>

          <div *ngIf="!performStunt.isDeleted && activeUser.id === 'admin' && performStunt.stuntName !== 'Beer Pong' && performStunt.stuntName !== 'Flip Cup'"  
          (click)="deletePerformStunt(user.id!, performStunt, true)" 
          class="action-icon">
            <mat-icon>delete</mat-icon>
          </div>
    
          <!-- <div *ngIf="performStunt.isDeleted && !user.isSuspended && activeUser.id === 'admin'" (click)="deletePerformStunt(user.id!, performStunt, false)" class="action-icon">
            <mat-icon>settings_backup_restore</mat-icon>
          </div> -->

        </div>

      </div>
    </div>
  </div>
</div>

