<div class="background">
  <div class="container"> 
    <div *ngIf="loadingUsers === false">
      <mat-grid-list cols="3" rowHeight="100vh">
        <mat-grid-tile colspan="1">
          <div class="scoring-tower">
            <app-scoring-tower (logoutEvent)="logout()" [users]="users" [activeUser]="activeUser"></app-scoring-tower>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="component-container" *ngIf="loadingStunts">
          </div>
          <div class="component-container" *ngIf="!loggedIn">
            <app-login (loginEvent)="authenticate($event)" [loginFail]="loginFail"></app-login>
          </div>
          <div class="component-container" *ngIf="activeStunt === null && loggedIn && activeUser.id !== 'admin' && activeUser.id !== 'spectator' && !loadingStunts">
            <app-stunt-list (stuntEvent)="toggleStunt($event.id!)" 
            [stunts]="stunts"
            [activeUser]="activeUser">
          </app-stunt-list>
          </div>
          <div class="component-container" *ngIf="activeStunt !== null && loggedIn && activeUser.id !== 'admin' && activeUser.id !== 'spectator' && !loadingStunts">
            <app-stunt-form (stuntEvent)="toggleStunt($event.id!)" 
            [activeStunt]="activeStunt" 
            [activeUser]="activeUser"
            [witnesses]="users"
            #stuntForm>
          </app-stunt-form>
          </div>
          <div class="component-container" *ngIf="loggedIn && (activeUser.id === 'admin' || activeUser.id === 'spectator') && !loadingStunts">
            <app-stunt-history 
            [activeUser]="activeUser"
            [userData]="users">
            [stunts]="stunts">
          </app-stunt-history>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

