.container{
  max-width: 450px;
  margin: 0 auto;
}

.component-container {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-image: url('../../assets/background.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 260px;
}

.scoring-tower {
  overflow-y: auto;
  width: 100%;
}